#root {
  max-width: 1280px;
  max-height: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

#task-list {
  width: 100%;
}

#automerge-logo {
  width: 1.7ex;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.read-the-docs {
  color: #888;
}
