#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  gap: 2rem;
  min-height: calc(100vh - 200px);
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

#automerge-logo {
  height: 2em;
  margin-right: 0.5em;
  vertical-align: middle;
}

/* Layout for DocumentList and TaskList */
.document-list {
  width: 300px;
  flex-shrink: 0;
  border-right: 1px solid var(--primary);
  padding-right: 1rem;
}

.task-list {
  flex-grow: 1;
}

.read-the-docs {
  color: #888;
}
