#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  gap: 2rem;
  min-height: calc(100vh - 200px);
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

#automerge-logo {
  height: 2em;
  margin-right: 0.5em;
  vertical-align: middle;
}

/* Layout for DocumentList and TaskList */
.document-list {
  width: 300px;
  flex-shrink: 0;
  border-right: 1px solid var(--primary);
  padding-right: 1rem;
}

.task-list {
  flex-grow: 1;
}

.footer-copy {
  color: #888;
}

.sync-controls {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.sync-controls button {
  margin: 0;
}

dialog {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
}

dialog article {
  margin: 0;
}

dialog input {
  width: 100%;
  margin: 1rem 0;
}

dialog footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

dialog footer button {
  margin: 0;
}
