.document-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.documents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.document-item {
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.document-item:hover {
  background-color: var(--pico-primary-hover);
}

.document-item.active {
  background-color: var(--pico-primary);
  color: var(--pico-primary-inverse);
}

.document-item.active:hover {
  background-color: var(--pico-primary-hover);
}

.document-list button {
  width: 100%;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid var(--pico-primary);
  color: var(--pico-primary);
  transition: all 0.2s ease;
}

.document-list button:hover {
  background-color: var(--pico-primary);
  color: var(--pico-primary-inverse);
}
