#root {
  max-width: 1280px;
  max-height: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

#task-list {
  width: 100%;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.task input {
  margin: 0;
}

.task input[type='text'] {
  background-color: var(--pico-secondary-background);
}

.task input[type='checkbox']:not(:checked) {
  background-color: var(--pico-secondary-background);
}


.read-the-docs {
  color: #888;
}